/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-oct-2018, 11:35:21
    Author     : a
*/


.navbar-footer{
    text-align:center;
    background: linear-gradient(#689F38,#CDDC39);
}

.navbar-footer a{
    color:white;
}



.registro{
    margin: auto auto;
    width: 50%;
    
    
}
.img-form{
    text-align:center;
    margin-top:20px;
}
.imagen-form{
    box-shadow:5px 5px 5px lightgray;
    border-radius:20px;
}
.jumbo{
    box-shadow:5px 5px 5px lightgray;
    border-radius:20px;
}
.submit{
    background-color: #7B1FA2;
}
.div1{
    color: whitesmoke;
}

.loader{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


